  
name: Build

on: [push]

jobs:
  build:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v2
    - name: Upload to Google Drive
      uses: satackey/action-google-drive@v1
      with:
          skicka-tokencache-json: ${{ secrets.drive }}
          upload-from: ./
          upload-to: /
